doctype html
html(lang='zh')
   body
      form(method='POST',action='/admin/login')
         input(type='text',name='name')
         input(type='text',name='pass')
         input(type='submit',value='登陆')
