extends main

block append head
   link(rel="stylesheet",type="text/css",href='/css/index.css')
block content
   ul.topic-list
      each topic in topics
         li
            p=topic.title
            p.topic-content=topic.content
            p
               span=topic.create_at.toLocaleString()
               span(style='float:right')=topic.author_nickname

