doctype html
html(lang='zh')
   body
      div#wrap
         div#header
         div#bodyer
            ul
               each topic in topics
                  li
                     p=topic.title
                     p=topic.content
                     p
                        span=topic.create_at.toLocaleString()
                        span(style='float:right')=topic.author_nickname

         div#footer