extends main
block append head
    link(rel="stylesheet", type="text/css" ,href='/css/index.css')
block content
    div.module-text
        h2.text-center VP市场抢购工具1.0.0
        p
        p VP抢购插件在VP饰品购买页使用,只要输入自己想购买当前饰品的最大价格点击购买就会自动的帮您购买到当前饰品低于此价格的全部饰品,非常方便,抢购速度爽到爆
        img(src='/img/img.png')
        a(id="btn-plugin",class="btn btn-warning btn-lg",href="javascript:void((function(){var d=document,e=d.createElement('script');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://127.0.0.1:3000/js/plugin.js?'+Math.floor(new Date/1E5));d.body.appendChild(e)})());") VP市场抢购工具
        |