doctype html
head
   block head
      meta(name="viewport",content="width=device-width, initial-scale=1")
      link(rel="stylesheet", type="text/css" ,href='/css/bootstrap.min.css')
      link(rel="stylesheet", type="text/css" ,href='/css/base.css')
html(lang='zh')
   body
      div#wrap
         div#header
            div.container
               div.logo hZUEd
         div#bodyer
            div.container
               block content
         div#footer