extends main

block content
   a(class="btn btn-warning btn-lg",href="javascript:void((function(){var d=document,e=d.createElement('script');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://127.0.0.1:3000/js/plugin.js?'+Math.floor(new Date/1E5));d.body.appendChild(e)})());") hZUEd批量购买