form(method='POST',action='/register')
   input(type='text', name='username', value='用户名')
   input(type='text', name='nickname', value='昵称')
   input(type='text', name='password', value='重复密码')
   input(type='text', value='重复密码')
   input(type='text', name='email', value='邮箱')
   input(type='submit')