extends main

block content
    div#login
        div.login-form
            if err
                div.alert.alert-danger=err
            form(method='POST',action='/register',class='form-horizontal')
                div.form-group
                    label.col-xs-3.control-label 用户名：
                    div.col-xs-9
                        div.row
                            div.col-xs-8
                                input(type='text', name='username',class='form-control')
                            div.col-xs-4.text-danger.form-control-static
                div.form-group
                    label.col-xs-3.control-label 昵称：
                    div.col-xs-9
                        div.row
                            div.col-xs-8
                                input(type='text', name='nickname',class='form-control')
                            div.col-xs-4.text-danger.form-control-static
                div.form-group
                    label.col-xs-3.control-label 登录密码：
                    div.col-xs-9
                        div.row
                            div.col-xs-8
                                input(type='password', name='password',class='form-control')
                            div.col-xs-4.text-danger.form-control-static
                div.form-group
                    label.col-xs-3.control-label 重复密码：
                    div.col-xs-9
                        div.row
                            div.col-xs-8
                                input(type='password',class='form-control' id="confirm-password")
                            div.col-xs-4.text-danger.form-control-static
                div.form-group
                    label.col-xs-3.control-label 邮箱：
                    div.col-xs-9
                        div.row
                            div.col-xs-8
                                input(type='text', name='email',class='form-control')
                            div.col-xs-4.text-danger.form-control-static
                div.form-group
                    label.col-xs-3.control-label
                    div.col-xs-9
                        div.row
                            div.col-xs-5
                                input(type='submit',class='btn btn-success btn-block',value='注册')
        div.login-introduce
            p 扫一扫加入官方qq群
            img(src='/img/qq.png',style='border:1px solid #999')
            p
            p 官方qq群号：459606870

block append script
    script(type='text/javascript').
        $(function () {
            $('form').submit(function () {
                var confirm = 0;
                var user = $('[name=username]');
                var nick = $('[name=nickname]');
                var password1 = $('[name=password]');
                var password2 = $('#confirm-password');
                var email = $('[name=email]');
                if (user.val().length <= 0) {
                    user.parent().addClass("has-error").next().text('用户名不能为空');
                }else{
                    confirm ++;
                }
                if (nick.val().length <= 0) {
                    nick.parent().addClass("has-error").next().text('昵称不能为空');
                }else{
                    confirm ++;
                }
                if(password1.val().length <= 0){
                    password1.parent().addClass("has-error").next().text('密码不能为空');
                }else{
                    confirm ++;
                }
                if(password1.val() != password2.val()){
                    password2.parent().addClass("has-error").next().text('两次密码不一致');
                }else{
                    confirm ++;
                }
                if(email.val().length <= 0){
                    email.parent().addClass("has-error").next().text('邮箱地址不能为空');
                }else{
                    confirm ++;
                }
                if(confirm != 5){
                    return false;
                }
            });
        });